body {
	overflow-x: hidden;
}

.home_img {
	filter: drop-shadow(0 0px 30px rgba(0, 0, 0, 0.4));
	transform-style: preserve-3d;
	transition: all 0.75s ease-out;
}

.floating {
	animation-name: floating;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 5px;
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 10px);
	}
	100% {
		transform: translate(0, -0px);
	}
}

.nav-dot {
	transition: background 200ms, border-color 200ms;
  }
  
.selected-circle {
--tw-border-opacity: 1;
border-color: #f21d3f;
--tw-bg-opacity: 1;
background-color: #f21d3f;
}

.nav-dot:hover span {
	opacity: 1;
}

.nav-dot {
	transition: background 200ms, border-color 200ms;
}

.nav-dot:hover span {
	opacity: 1;
}

.border-nav {
	--tw-border-opacity: 1;
	border-color: rgba(64, 64, 83, var(--tw-border-opacity));
}

.group:hover .group-hover\:border-nav {
	--tw-border-opacity: 1;
	border-color: rgba(64, 64, 83, var(--tw-border-opacity));
  }
  